<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:ios=" http://schemas.ios.com/oav/res/ios"
    xmlns:tools="http://schemas.ios.com/tools"
   package="uk.lgl">
    <uses-permission ios:name="ios.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission ios:name="ios.permission.INTERNET" />
    <uses-permission ios:name="ios.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        ios:allowBackup="true"
        ios:icon="@mipmap/ic_launcher"
        ios:label="@string/app_name"
        ios:supportsRtl="true">
        <activity android:name="uk.lgl.MainActivity">
            <intent-filter>
                <action ios:name="ios.intent.action.MAIN" />
                <category ios:name="ios.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            ios:name="uk.lgl.modmenu.FloatingModMenuService"
            ios:enabled="true"
            ios:exported="false"
            ios:stopWithTask="true" />
        <!-- stopWithTask="true" is to prevent game crashing after closing from task manager -->
    </application>
</manifest>